.backgroundLogin {
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30rem;
    background: url("../../../public/imagemfundo.png") no-repeat right top;
    background-size: cover;
}

/* Estilos padrão para todos os dispositivos */
body {
  font-size: 16px;
  line-height: 1.5;
}

/* Media query para dispositivos com largura de tela até 768px (por exemplo, smartphones em modo retrato) */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  /* Outras regras de estilo específicas para dispositivos menores */
}

/* Media query para dispositivos com largura de tela entre 769px e 1024px (por exemplo, tablets em modo retrato) */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  /* Outras regras de estilo específicas para tablets e dispositivos de tamanho intermediário */
}

/* Media query para dispositivos com largura de tela acima de 1024px (por exemplo, tablets em modo paisagem e desktops) */
@media (min-width: 1025px) {
  body {
    font-size: 20px;
  }
  /* Outras regras de estilo específicas para telas maiores */
}


