.backgroundLogin {
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 480px;
    background: url("../../../public/imagemfundo.png") no-repeat right top;
    background-size: cover;
}

@media only screen and (max-device-width: 900px) {
  .backgroundLogin {
    width: 350px;
    padding: 480px;
  }
  }

/* min-width */
@media screen and (min-width: 900px) {
	.backgroundLogin {
    width: 350px;
    padding: 480px;
  }
}

/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
	.backgroundLogin {
    width: 350px;
    padding: 480px;
  }
}

/* max device width */
.backgroundLogin {
  width: 350px;
  padding: 480px;
}
